@charset "UTF-8";
/* Mixin  ----------------------------  */
/* Functions  ------------------------  */
/* Variables + Colors + Breackpoints & others
 **  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Colors */
/* Breackpoints & MediaQuery */
/* Basestyle + Normalize
 **  –––––––––––––––––––––––––––––––––––––––––––––––––– */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: 16px;
  color: #333030;
  font-weight: 500;
  line-height: 1.4;
}

html.no-js body:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "No javascript? No Page!";
}
html.no-js .l-siteWrapper {
  display: none;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: 1rem;
  color: #333030;
  font-weight: 500;
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  background-color: #FBFBFB;
}

.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Typography
 **  –––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Links
 **  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Lists + Buttons + Textarea + Checkbox
 ** –––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[hidden] {
  display: none;
}

/* Media
 **  –––––––––––––––––––––––––––––––––––––––––––––––––– */
img,
video,
object {
  max-width: 100%;
  height: auto;
  border-style: none;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  border: none;
  outline: none;
}

figure {
  max-width: 100%;
  /*margin: 0 */
}

svg:not(:root) {
  overflow: hidden;
}

/* Other
 **  –––––––––––––––––––––––––––––––––––––––––––––––––– */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Links
 **  –––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
a:focus, a:active, a:visited {
  color: #4000F3;
  text-decoration: none;
}
a:hover {
  color: #FF0025;
}

.readMore {
  font-size: 0.8em;
  color: #FF0025;
  font-weight: 400;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 8px 16px 8px 8px;
  border-radius: 5px;
}
.readMore:focus, .readMore:active, .readMore:visited {
  color: #FF0025;
}
.readMore:hover {
  color: #263959;
  border: 1px solid #FF0025;
  background-color: #DDDDDD;
}

/* Typography
 **  –––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  color: #263959;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
}

.titolo {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #263959;
  font-weight: 600;
  margin: 1.5rem 0;
}

.sottotitolo {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #000000;
  font-weight: 600;
}

.responsiveText {
  font-size: clamp(8px, 2vw 1rem, 16px);
}

/* Text
 **  –––––––––––––––––––––––––––––––––––––––––––––––––– */
p {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1rem;
  color: #263959;
  font-weight: 500;
  line-height: 1.4;
  position: relative;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
}

.highlighter-rouge {
  color: #263959;
  border: 1px solid #333030;
  border-radius: 3px;
  padding: 0.1rem 0.5rem;
}

blockquote {
  border-left: 5px solid #9E9E9E;
  color: #515151;
  margin: 0 1em;
  padding: 0 0 0 1em;
}

blockquote.aggiornamento {
  border-left: 5px solid #FF0025;
}

.rosso {
  border-left: 5px solid #FF0025;
}

.quando,
.itinerario {
  font-family: "Lato", sans-serif;
  color: #616161;
  font-weight: 400;
  font-variant: small-caps;
}

h1.post-title,
.post-title {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #263959;
  font-weight: 600;
  line-height: 1;
}
h1.post-title .as,
.post-title .as {
  font-family: "Lato", sans-serif;
  font-size: 1.875rem;
  color: #263959;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
}

h1.scheda-title {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  color: #263959;
  font-weight: 600;
  line-height: 1;
}

.nota {
  padding: 0.5rem;
  background: #f4ebd3;
  border-radius: 10px;
}
.nota.blue {
  background: rgba(158, 158, 158, 0.2);
}

.elenco {
  font-size: 30px;
  color: orange;
  vertical-align: baseline;
  line-height: 0.8;
}

.siti {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #263959;
  font-weight: 600;
  position: relative;
}

@media only screen and (max-width: 992px) {
  h1.post-title,
  .post-title {
    font-size: 1.5rem;
  }
  h1.post-title a.as,
  .post-title a.as {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 480px) {
  h1.post-title,
  .post-title {
    font-size: 1.5rem;
  }
  h1.post-title a.as,
  .post-title a.as {
    font-size: 1rem;
  }
}
/* Lists
 **  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Lists - Improved System
 **  –––––––––––––––––––––––––––––––––––––––––––––––––– */
ol, ul {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1rem;
  color: #263959;
  font-weight: 500;
  line-height: 1.4;
  display: block;
  width: 100%;
  margin: 1.5rem 0;
  padding: 0;
  list-style-position: outside;
}
ol li, ul li {
  margin: 0.5rem 0 0.5rem 1.5em;
  position: relative;
}
ol li ol, ol li ul, ul li ol, ul li ul {
  margin: 0.5rem 0;
  padding: 0;
  font-size: 0.95em;
}
ol li ol li, ol li ul li, ul li ol li, ul li ul li {
  margin-left: 1.5em;
  color: #35507d;
}

/* Buttons
 **  –––––––––––––––––––––––––––––––––––––––––––––––––– */
#newsLetterBtn {
  width: 170px;
  padding: 1.35rem;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 2.5rem;
  border: none;
  outline: none;
  position: absolute;
  top: -77px;
  right: 0;
  color: #FFFFFF;
  background-color: #FF0025;
  border: 1px solid #FF0025;
  transition: background-color 0.35s ease-in-out;
}
#newsLetterBtn:visited {
  color: #FFFFFF;
}
#newsLetterBtn:hover {
  color: #263959;
  background-color: #DDDDDD;
  border: 1px solid #FF0025;
}

#contactBtn {
  font-size: 1.15em;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #FF0025;
  border: 1px solid #FF0025;
  transition: background-color 0.35s ease-in-out;
}
#contactBtn[type="submit"] {
  text-transform: uppercase;
  cursor: pointer;
}
#contactBtn:visited {
  color: #FFFFFF;
}
#contactBtn:hover {
  color: #263959;
  background-color: #DDDDDD;
  border: 1px solid #FF0025;
}

.redBtn {
  display: inline-block;
}
.redBtn a, .redBtn span {
  border-radius: 5px;
  padding: 8px 16px;
  color: #FFFFFF;
  background-color: #FF0025;
  border: 1px solid #FF0025;
  transition: background-color 0.35s ease-in-out;
}
.redBtn a:visited, .redBtn span:visited {
  color: #FFFFFF;
}
.redBtn a:hover, .redBtn span:hover {
  color: #263959;
  background-color: #DDDDDD;
  border: 1px solid #FF0025;
}
.redBtn a:hover:not(.active) {
  color: #263959;
  font-weight: 600;
  background-color: #DDDDDD;
}

.redBtn.btnReadMe {
  opacity: 1;
  font-size: 0.625em;
  position: absolute;
  right: 15px;
  bottom: 15px;
  margin: 0;
  padding: 0;
  border-radius: 8px;
}
.redBtn.btnReadMe:before:before, .redBtn.btnReadMe:after:before {
  content: "";
  display: table;
}
.redBtn.btnReadMe:before:after, .redBtn.btnReadMe:after:after {
  content: "";
  display: table;
  clear: both;
}
.redBtn.btnReadMe:hover {
  opacity: 0.9;
}

.btnCockies {
  color: #FFFFFF;
  background-color: #FF0025;
  border: 1px solid #FF0025;
  transition: background-color 0.35s ease-in-out;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 10px 25px;
}
.btnCockies:visited {
  color: #FFFFFF;
}
.btnCockies:hover {
  color: #263959;
  background-color: #DDDDDD;
  border: 1px solid #FF0025;
}

/* Forms
 **  –––––––––––––––––––––––––––––––––––––––––––––––––– */
form, fieldset, label, input, textarea {
  line-height: 1;
  box-sizing: border-box;
  /* width: 100% */
}

form {
  padding: 0 1.25rem;
  margin: 0 auto;
}

fieldset {
  border: none;
  vertical-align: middle;
}

label {
  display: inline-block;
  font-family: sans;
  font-size: 1rem;
  color: #263959;
  font-weight: 500;
  line-height: 1.6;
  padding-left: 5px;
}

input, textarea {
  border: 2px solid #FF0025;
  padding: 9px;
  transition: all 0.35s ease-in-out;
  font-size: 1.1em;
  color: #263959;
  font-weight: 500;
}
input:focus, textarea:focus {
  outline: none;
  background-color: rgba(255, 0, 37, 0.1);
}

textarea {
  resize: none;
  overflow: auto;
  height: 10rem;
}

/*input (buttons)
 * #contactBtn
 * #newsLetterBtn
 * /* vedi 06Buttons */
form#frmContact .formNota {
  margin: 1em 0;
}
form#frmContact .formNota span {
  display: block;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 0.75em;
  color: #263959;
  line-height: 1.3;
  text-indent: 2em;
  margin-top: -1.3em;
  text-align: justify;
}

form#frmNewsLetter {
  width: 700px;
  max-width: 90%;
  margin: 0 auto;
}
form#frmNewsLetter label {
  display: block;
  margin: 2em auto -18px;
  /*font-variant: small-caps */
}
form#frmNewsLetter .newsLetterBox {
  padding: 2rem 0;
  position: relative;
}
form#frmNewsLetter #emailInput {
  width: 100%;
  padding: 1.41rem 3rem;
  border-radius: 2.5rem;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.2em;
  color: #333030;
  font-weight: 700;
  line-height: 1.6;
  /*text-transform: capitalize */
  border: none;
  outline: none;
  background-color: rgba(38, 57, 89, 0.2);
}
form#frmNewsLetter #newsLetterBtn {
  /* vedi 06Buttons */
}

/* Media
 **  –––––––––––––––––––––––––––––––––––––––––––––––––– */
figcaption {
  margin: 0 0 0.5rem 0;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #263959;
  font-weight: 300;
  line-height: 3;
}

@media only screen and (max-width: 992px) {
  figcaption {
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 480px) {
  figcaption {
    font-size: 0.75rem;
  }
}
img.mapHere {
  display: inline;
  width: 50px;
  height: 50px;
  margin-right: 8px;
  border-radius: 50%;
}

.progressive {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}
.progressive img {
  display: block;
  width: 100%;
  max-width: none;
  height: auto;
  border: 0 none;
}
.progressive img.preview {
  filter: blur(2vw);
  transform: scale(1.05);
}
.progressive img.reveal {
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform, opacity;
  animation: progressiveReveal 1s ease-out;
}

@keyframes progressiveReveal {
  0% {
    transform: scale(1.05);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* Tables
 **  –––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border-collapse: collapse;
  border-spacing: 0;
  /* border: 1px solid $grey500 */
  width: 100%;
}

/* Objects Cards
 **  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Tooltips
 **  –––––––––––––––––––––––––––––––––––––––––––––––––– */
#notaContactBtn-item {
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-align: center;
}
#notaContactBtn-item:focus, #notaContactBtn-item:hover .notaContactBtn {
  opacity: 1;
  visibility: visible;
}
#notaContactBtn-item .notaContactBtn {
  background-color: #DDDDDD;
  border-radius: 3px;
  box-shadow: 0 2px 2px silver;
  border: 1px solid red;
  /* Make sure you use -webkit-backface-visibility: hidden on the body element to prevent 1px nudging bugs. */
  font-family: monospace;
  font-size: 0.9em;
  color: #263959;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 30em;
  opacity: 0;
  padding: 1em;
  text-align: center;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  z-index: 10;
}
#notaContactBtn-item .notaContactBtn.formBtn {
  position: absolute;
  right: 0;
  bottom: 4em;
  left: 0;
}
#notaContactBtn-item .notaContactBtn.formBtn p {
  /*+font(false, 1em, $bludark, 600, 0) */
  margin: 0;
}
#notaContactBtn-item .notaContactBtn.formBtn:after {
  position: absolute;
  right: 0;
  border: 8px solid transparent;
  bottom: -1.4em;
  font-size: 1.4em;
  color: #FF0025;
  content: "▼";
  margin-left: -8px;
  text-align: center;
  text-shadow: 0 2px 2px silver;
}
#notaContactBtn-item .notaContactBtn.newsBtn {
  position: absolute;
  top: -60px;
  left: 20%;
}
#notaContactBtn-item .notaContactBtn.newsBtn p {
  /*+font(false, 1em, $bludark, 600, 0) */
  margin: 0;
}
#notaContactBtn-item .notaContactBtn.newsBtn:after {
  position: absolute;
  right: 0;
  border: 8px solid transparent;
  bottom: -1.4em;
  font-size: 1.4em;
  color: #FF0025;
  margin-left: -8px;
  text-align: center;
  text-shadow: 0 2px 2px silver;
}

/* Global Classes  -------------------  */
/*  .l-: layouts */
/*  .o-: objects */
/*  .c-: components */
/*  .js: JavaScript hooks */
/*  .is-|.has-: state classes */
/*  .t1|.s1: typography sizes */
/*  .u-: utility classes */
.u-c00 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -50px;
  margin-left: -50px;
}

.red {
  color: #FF0025;
}

.u-tal {
  text-align: left;
}

.u-tac {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.u-tar {
  text-align: right;
}

.u-taj {
  text-align: justify;
}

.u-m00 {
  margin: 0;
}

.u-mt1 {
  margin-top: 1rem;
}

.u-mt2 {
  margin-top: 2rem;
}

.u-mt3 {
  margin-top: 3rem;
}

.u-mt4 {
  margin-top: 4rem;
}

.u-mb0 {
  margin-bottom: 0;
}

.u-mb2 {
  margin-bottom: 2rem;
}

.u-mb3 {
  margin-bottom: 3rem;
}

.u-ml2 {
  margin-left: 2rem;
}

.u-w70 {
  max-width: 70%;
}

.u-ttc {
  text-transform: capitalize;
}

.u-fr {
  float: right;
}

.u-fl {
  float: left;
}

.u-mw30 {
  max-width: 30%;
}

.u-mw40 {
  max-width: 40%;
}

.u-mw60 {
  max-width: 60%;
}

.u-w100 {
  width: 100%;
}

/* Layout  ---------------------------  */
.l-siteWrapper {
  position: relative;
  margin: 0;
  max-width: 78.125rem;
}

.l-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 240px;
  height: 100%;
  padding: 20px 10px;
  background-color: #FFFFFF;
}

.l-content-box {
  padding: 20px;
  padding-left: 260px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.l-post-article {
  position: relative;
  display: block;
  margin: 0;
  width: 100%;
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 0.5em;
}

/* Templates */
/* Grids */
/* Objects ----------------------------  */
.o-about {
  margin: 0 0 40px;
}
.o-about .cover-author-image {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #333030;
}
.o-about .author-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: transform 0.35s;
}
.o-about .author-image:hover {
  transform: scale3d(0.9, 0.9, 1);
}
.o-about .author-name {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  color: #263959;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
.o-about .author-job {
  text-transform: uppercase;
  font-variant: small-caps;
  color: #FF0025;
}
.o-about .torii {
  width: 32px;
  height: 32px;
  margin: 15px 0;
}
.o-about p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 10px;
}

.o-separator .separator-title {
  position: relative;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 0.75em;
  color: #333030;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 5px;
}
.o-separator .separator-title::before {
  content: "";
  display: block;
  height: 2px;
  width: calc(50% - 48px);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #515151;
}
.o-separator .separator-title::after {
  content: "";
  display: block;
  height: 2px;
  width: calc(50% - 48px);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
  background-color: #515151;
}
.o-separator .short::before, .o-separator .short::after {
  width: calc(50% - 100px);
}
.o-separator .post-separator {
  margin: 0 5%;
}
.o-separator .post-separator::before {
  width: calc(50% - 70px);
}
.o-separator .post-separator::after {
  width: calc(50% - 70px);
}

.o-copyright {
  font-size: 0.575em;
  color: #333030;
  font-weight: 600;
  margin: 0;
}

.o-post-index {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 11rem;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
}
.o-post-index:hover {
  transform: translate(0px, -2px);
  box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.2);
}
.o-post-index .post-thumbnail {
  width: 30%;
  max-width: 100%;
  min-height: 11rem;
  background-size: cover;
  background-position: 50% 50%;
}
.o-post-index .post-index-content {
  padding: 1rem;
  width: 100%;
}
.o-post-index .post-index-content .post-title {
  /* definita in typography */
}
.o-post-index .post-index-content .post-description {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 0.875rem;
  color: #263959;
  font-weight: 500;
  line-height: 1.5;
}
.o-post-index .post-index-content .post-date,
.o-post-index .post-index-content .post-words {
  white-space: nowrap;
  font-size: 0.75em;
  margin-left: 0.5rem;
}
.o-post-index .post-index-content .posts-tags-btn {
  display: inline-block;
  vertical-align: middle;
  /*margin: 1rem 0 */
}

@media only screen and (max-width: 992px) {
  .o-post-index .post-index-content {
    /* */
  }
  .o-post-index .post-index-content .post-title a {
    /* definita in typography */
  }
  .o-post-index .post-index-content .post-description {
    /*+font($sysFontSS, 1rem, $bludark, 500, 1.2) */
    font-size: 0.875rem;
  }
}
.o-griglia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.o-griglia .item {
  flex-grow: 1;
  flex-basis: auto;
}

.o-relatedPosts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.o-relatedPosts .c-relatedPost {
  display: flex;
  padding: 1rem;
}
.o-relatedPosts .c-relatedPost .post {
  position: relative;
  max-width: 420px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}
.o-relatedPosts .c-relatedPost .post .cardImage {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-filter: contrast(70%);
  filter: contrast(70%);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.o-relatedPosts .c-relatedPost .post:hover .cardImage {
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}
@media (min-width: 40rem) {
  .o-relatedPosts .recentPost {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .o-relatedPosts .recentPost {
    width: 33.3333%;
  }
}

#o-cookies {
  padding: 15px 15px;
  display: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 57, 89, 0.8);
  color: white;
}
#o-cookies span.centra {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid black;
}
#o-cookies a {
  cursor: pointer;
  margin-left: 10px;
}

@media (max-width: 767px) {
  #o-cookies span {
    display: block;
    padding-top: 3px;
    margin-bottom: 13px;
  }
  #o-cookies a {
    position: relative;
    bottom: 4px;
  }
}
/* Components  -----------------------  */
.c-post-tag {
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.1s ease-in-out;
  color: #FFFFFF;
  background-color: #263959;
  border: 1px solid #263959;
  transition: background-color 0.35s ease-in-out;
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  color: #FBFBFB;
  font-weight: 500;
  line-height: 2;
}
.c-post-tag:visited {
  color: #FFFFFF;
}
.c-post-tag:hover {
  color: #263959;
  background-color: #DDDDDD;
  border: 1px solid #FF0025;
}
.c-post-tag .tag {
  display: inline;
  margin: 8px 8px 0 0;
  width: 12px;
  height: 12px;
  position: relative;
  top: 2px;
  fill: #FFFFFF;
}
.c-post-tag:hover .tag {
  fill: #263959;
}

@media only screen and (max-width: 992px) {
  .c-post-tag {
    /*+font(false, 0.75rem, $greyblu, 500, 2) */
    font-size: 0.625rem;
  }
}
.c-prenext {
  color: #FFFFFF;
  background-color: #263959;
  border: 1px solid #263959;
  transition: background-color 0.35s ease-in-out;
}
.c-prenext:visited {
  color: #FFFFFF;
}
.c-prenext:hover {
  color: #263959;
  background-color: #DDDDDD;
  border: 1px solid #FF0025;
}

.c-post-ora {
  padding: 0.2rem 0.5rem;
  margin-top: 1rem;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 0.75em;
  color: #263959;
  background-color: #DDDDDD;
  border: 1px solid #FF0025;
}

.c-obj_date_ora {
  display: inline;
  vertical-align: middle;
  line-height: 2;
}

.c-h-titles {
  font-size: 2em;
  line-height: 3;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.2);
  transform: translate(0px, -2px);
}

@media only screen and (max-width: 992px) {
  .c-h-titles {
    font-size: 1.7em;
  }
}
@media only screen and (max-width: 480px) {
  .c-h-titles {
    font-size: 1.2em;
  }
}
.c-embedVideo {
  margin-bottom: 2em;
}

.c-cardContent {
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.c-cardContent h5.cardTitle {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.c-cardContent .cardText {
  max-width: 400px;
  margin-bottom: 1.25rem;
}

.c-cardDate {
  background: linear-gradient(45deg, #263959, #FF0025);
  display: block;
  border-radius: 5px;
  width: 65px;
  padding: 8px;
  font-size: 0.875em;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.7;
  text-align: center;
  margin: -30px 0 0 30px;
  position: relative;
  z-index: 0;
}
.c-cardDate:before {
  content: "";
  display: table;
}
.c-cardDate:after {
  content: "";
  display: table;
  clear: both;
}
.c-cardDate date {
  display: block;
  letter-spacing: 2px;
}

.c-zz {
  border: 1px solid black;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.c-copyRights p {
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 9px;
  color: #616161;
  font-weight: 400;
  margin: 0;
}

/* Pagination ------------------------  */
.o-pagination {
  display: inline-block;
}
.o-pagination a, .o-pagination span {
  float: left;
  color: #FFFFFF;
  background-color: #263959;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 0 4px;
}
.o-pagination a:hover:not(.active) {
  font-weight: 600;
  background-color: #DDDDDD;
}
.o-pagination .page-index {
  background-color: #FF0025;
  color: #FFFFFF;
  font-weight: 600;
  border: 1px solid #FF0025;
}

/* Pages  ----------------------------  */
.contactBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  max-width: 100%;
}
.contactBox .formTitle {
  text-align: center;
  text-transform: uppercase;
  /*+font(false, $fS4, false, false, false) */
}
.contactBox .formTitle::before, .contactBox .formTitle::after {
  content: " — ";
}
.contactBox .form {
  width: 90%;
  margin: 0 auto;
}
.contactBox .form .formGroup {
  margin-top: 3rem;
  text-align: center;
}
.contactBox .form input, .contactBox .form textarea {
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  /*+font($ssFF, false, false, 600, false) */
  transition: all 0.35s ease-in-out;
}
.contactBox .form input:focus, .contactBox .form textarea:focus {
  background-color: rgba(191, 127, 127, 0.6);
}
.contactBox .form .form_btn {
  width: inherit;
  /*+font($ssFF, false, $siteTextW, 600, false) */
  text-transform: uppercase;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1rem 3rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.contactBox .form .form_btn:hover {
  /*background-color: rgba($highlight, 0.2) */
}
.contactBox .form .form_btn:active {
  transform: translateY(2px);
}

.termsTitle,
.thanksTitle {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #263959;
  font-weight: 600;
  line-height: 2.1;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.termsArticles,
.thanksArticles {
  width: 100%;
  background-color: #FFFFFF;
}
.termsArticles .termsContent,
.termsArticles .thanksContent,
.thanksArticles .termsContent,
.thanksArticles .thanksContent {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}
.termsArticles .termsContent p,
.termsArticles .thanksContent p,
.thanksArticles .termsContent p,
.thanksArticles .thanksContent p {
  /*text-indent: 50px */
  text-align: justify;
  word-wrap: break-word;
  word-break: normal;
}

/* Post  -----------------------------  */
.o-post-cover-image {
  position: relative;
}

.o-post-tag {
  /*float: right */
  text-align: right;
  font-size: 1em;
  color: #333030;
  font-weight: 400;
  line-height: 1;
  margin: 0 2em 2em 0;
}
.o-post-tag .post-tag-title {
  font-weight: 700;
  line-height: 1.5;
  font-variant: small-caps;
  margin: 0 8px 0 0;
}
.o-post-tag .post-tag {
  background-color: #263959;
  padding: 0.2rem 0.5rem;
  font-size: 0.875em;
  color: #FBFBFB;
  font-weight: 500;
  margin-right: 0.5rem;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
.o-post-tag .post-tag:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  padding-right: 0.5em;
}
.o-post-tag .post-tag:hover {
  color: #263959;
  text-decoration: none;
  background-color: #FBFBFB;
}

.o-post-wrapper {
  display: block;
  width: 100%;
  margin: 3em 0 0 0;
}
.o-post-wrapper .post-header .post-title {
  /*+font($sysFontSS, 2em, $bludark, 600, 1) */
}
.o-post-wrapper .post-header .post-date {
  font-size: 0.75em;
  color: #333030;
  font-weight: 400;
  line-height: 1;
  margin-top: -20px;
}
.o-post-wrapper .post-header .post-update {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1;
  margin-top: 5px;
}
.o-post-wrapper .post-content-wrapper {
  font-size: 1.125em;
  color: #333030;
  font-weight: 400;
  line-height: 1.4;
  text-align: justify;
}
.o-post-wrapper .post-footer {
  position: relative;
}

/* Sections  -------------------------  */
section {
  width: 100%;
}

.sectionPagination,
.sectionNewsLetter,
.sectionTags,
.sectionContattami,
.sectionTerms,
.sectionThanks {
  margin: 2rem 0;
}

.sectionContact {
  height: 90vh;
  min-height: 500px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
}

.sectionWhere {
  margin-bottom: 2rem;
}
.sectionWhere .whereWrapper {
  margin: 0 auto;
}
.sectionWhere .whereWrapper .map {
  margin: vr(1) auto;
  height: 450px;
  width: 100%;
}

.sectionPhotogallery {
  text-align: center;
  margin: 0 auto;
}
.sectionPhotogallery:before {
  content: "";
  display: table;
}
.sectionPhotogallery:after {
  content: "";
  display: table;
  clear: both;
}
.sectionPhotogallery .responsive {
  width: 50%;
  padding: 0 6px;
  float: left;
}
.sectionPhotogallery .responsive figure.gallery {
  border: 1px solid #FAFAFA;
}
.sectionPhotogallery .responsive figure.gallery:hover {
  border: 1px solid #333030;
}

.sectionMainPage {
  margin: 2rem auto;
}

.bigfoot-footnote__button {
  position: relative;
  z-index: 5;
  top: -0.1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  padding: 0.55em;
  margin: 0 0.1em 0 0.2em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  background-color: rgba(110, 110, 110, 0.2);
  backface-visibility: hidden;
  font-size: 0.85rem;
  line-height: 0.5;
  vertical-align: middle;
  text-decoration: none;
  color: #FF0025;
  -webkit-font-smoothing: antialiased;
  transition-property: background-color;
  transition-duration: 0.25s;
}
.bigfoot-footnote__button:hover, .bigfoot-footnote__button:focus {
  outline: none;
  background-color: rgba(110, 110, 110, 0.5);
}
.bigfoot-footnote__button:active {
  background-color: rgba(110, 110, 110, 0.5);
}
.bigfoot-footnote__button.is-active {
  background-color: #6e6e6e;
  transition-delay: 0.1s;
}
.bigfoot-footnote__button:after {
  content: "";
  display: table;
  clear: both;
}

.bigfoot-footnote__button__circle {
  display: inline-block;
  width: 0.2em;
  height: 0.2em;
  margin-right: 0.2em;
  float: left;
}
.bigfoot-footnote__button__circle:last-child {
  margin-right: 0;
}

.bigfoot-footnote__container {
  display: inline-block;
  position: relative;
  text-indent: 0;
}

@media not print {
  .footnote-print-only {
    display: none !important;
  }
}
@media print {
  .bigfoot-footnote,
  .bigfoot-footnote__button {
    display: none !important;
  }
}
.bigfoot-footnote {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: inline-block;
  box-sizing: border-box;
  max-width: 90%;
  margin: 2.3192365em 0;
  background: #fafafa;
  opacity: 0;
  border-radius: 0.5em;
  border: 1px solid #c3c3c3;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  font-family: monospace;
  font-size: 0.95;
  color: #263959;
  line-height: 0;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transform: scale(0.1) translateZ(0);
  transform-origin: 50% 0;
}
.bigfoot-footnote.is-positioned-top {
  top: auto;
  bottom: 0;
}
.bigfoot-footnote.is-active {
  transform: scale(1) translateZ(0);
  opacity: 0.97;
}
.bigfoot-footnote.is-bottom-fixed {
  position: fixed;
  bottom: 0;
  top: auto;
  left: 0;
  right: auto;
  transform: translateY(100%);
  width: 100%;
  margin: 0;
  border-radius: 0;
  opacity: 1;
  border-width: 1px 0 0;
  transition: transform 0.3s ease;
}
.bigfoot-footnote.is-bottom-fixed.is-active {
  transform: translateY(0);
}
.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper {
  margin: 0 0 0 50%;
  transform: translateX(-50%);
  max-width: 100%;
}
.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper,
.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__content {
  border-radius: 0;
}
.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__tooltip {
  display: none;
}
.bigfoot-footnote.is-scrollable:after {
  content: "";
  position: absolute;
  bottom: 0.3375em;
  left: 0.3375em;
  z-index: 14;
  display: block;
  height: 0.78125em;
  width: 0.625em;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTIgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4iPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkFycm93IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjAwMDAwMCwgMS4wMDAwMDApIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiPgogICAgICAgICAgICA8cGF0aCBkPSJNNSwwIEw1LDExLjUiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wLjUsNy41IEw1LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik00LjUsNy41IEw5LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lLTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcuMDAwMDAwLCAxMC4wMDAwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTcuMDAwMDAwLCAtMTAuMDAwMDAwKSAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=");
  background-size: cover;
  opacity: 0.1;
  transition-properties: opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}
.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before, .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
  content: "";
  position: absolute;
  width: 100%;
  z-index: 12;
  left: 0;
}
.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before {
  top: -1px;
  height: 1.1em;
  border-radius: 0.5em 0.5em 0 0;
  background-image: linear-gradient(to bottom, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
}
.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
  bottom: -1px;
  height: 1.2em;
  border-radius: 0 0 0.5em 0.5em;
  background-image: linear-gradient(to top, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
}
.bigfoot-footnote.is-scrollable ::-webkit-scrollbar {
  display: none;
}
.bigfoot-footnote.is-fully-scrolled:after, .bigfoot-footnote.is-fully-scrolled:before {
  opacity: 0;
  transition-delay: 0;
}

.bigfoot-footnote__wrapper {
  position: relative;
  z-index: 14;
  width: 22em;
  display: inline-block;
  box-sizing: inherit;
  overflow: hidden;
  margin: 0;
  background-color: #fafafa;
  border-radius: 0.5em;
  line-height: 0;
}

.bigfoot-footnote__content {
  position: relative;
  z-index: 8;
  display: inline-block;
  max-height: 15em;
  padding: 1.1em 1.3em 1.2em;
  box-sizing: inherit;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fafafa;
  border-radius: 0.5em;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: normal;
}
.bigfoot-footnote__content img {
  max-width: 100%;
}
.bigfoot-footnote__content *:last-child {
  margin-bottom: 0 !important;
}
.bigfoot-footnote__content *:first-child {
  margin-top: 0 !important;
}

.bigfoot-footnote__tooltip {
  position: absolute;
  z-index: 12;
  box-sizing: border-box;
  margin-left: -0.65em;
  width: 1.3em;
  height: 1.3em;
  transform: rotate(45deg);
  background: #fafafa;
  border: 1px solid #c3c3c3;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 0;
}
.is-positioned-bottom .bigfoot-footnote__tooltip {
  top: -0.65em;
}
.is-positioned-top .bigfoot-footnote__tooltip {
  bottom: -0.65em;
}

.bigfoot-footnote__content {
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 0.95rem;
  color: #333;
  font-weight: 400;
  line-height: 1.2;
}

.bigfoot-footnote__tooltip {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/*! Lity - v2.3.1 - 2018-04-20 */
/* http://sorgalla.com/lity/ */
/* Copyright (c) 2015-2018 Jan Sorgalla Licensed MIT */
.lity {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  background: #0b0b0b;
  background: rgba(0, 0, 0, 0.9);
  outline: none !important;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.lity.lity-opened {
  opacity: 1;
}

.lity.lity-closed {
  opacity: 0;
}

.lity * {
  box-sizing: border-box;
}

.lity-wrap {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  outline: none !important;
}

.lity-wrap:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.lity-loader {
  z-index: 9991;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -0.8em;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.lity-loading .lity-loader {
  opacity: 1;
}

.lity-container {
  z-index: 9992;
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  max-width: 100%;
  max-height: 100%;
  outline: none !important;
}

.lity-content {
  z-index: 9993;
  width: 100%;
  transform: scale(1);
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -o-transform 0.3s ease;
}

.lity-loading .lity-content,
.lity-closed .lity-content {
  transform: scale(0.8);
}

.lity-content:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.lity-close {
  z-index: 9994;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  box-shadow: none;
}

.lity-close::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.lity-close:hover,
.lity-close:focus,
.lity-close:active,
.lity-close:visited {
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  box-shadow: none;
}

.lity-close:active {
  top: 1px;
}

/* Image */
.lity-image img {
  max-width: 100%;
  display: block;
  line-height: 0;
  border: 0;
}

/* iFrame */
.lity-iframe .lity-container,
.lity-youtube .lity-container,
.lity-vimeo .lity-container,
.lity-facebookvideo .lity-container,
.lity-googlemaps .lity-container {
  width: 100%;
  max-width: 964px;
}

.lity-iframe-container {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: auto;
  pointer-events: auto;
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
}

.lity-iframe-container iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

.lity-hide {
  display: none;
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.gallery img {
  width: 100%;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.gallery > a {
  display: block;
}
.gallery.half > a,
.gallery.half > img {
  width: calc(50% - 0.5em);
}
.gallery.half > span {
  display: block;
  width: calc(50% - 0.5em);
}
.gallery.half figcaption {
  width: 100%;
}
.gallery.third > a,
.gallery.third > img {
  width: calc(33.3333% - 0.5em);
}
.gallery.third > span {
  display: block;
  width: calc(33.3333% - 0.5em);
}
.gallery.third figcaption {
  width: 100%;
}
.gallery.fourth > a,
.gallery.fourth > img {
  width: calc(25% - 0.4em);
}
.gallery.fourth > span {
  display: block;
  width: calc(25% - 0.4em);
}
.gallery.fourth figcaption {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .gallery {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery.half > a,
  .gallery.half > img, .gallery.third > a,
  .gallery.third > img, .gallery.fourth > a,
  .gallery.fourth > img {
    width: calc(100% - 0.5em);
  }
  .gallery.half > span, .gallery.third > span, .gallery.fourth > span {
    width: calc(100% - 0.5em);
  }
}
/* Footer  ---------------------------  */
.l-siteFooter {
  text-align: center;
  margin: 3em auto 4em auto;
}
.l-siteFooter .privacy {
  margin: 0 auto 0 -3em;
  padding-top: 5em;
  font-family: "Lato", sans-serif;
  font-size: 9px;
  color: transparent;
  font-weight: 600;
  line-height: 7;
  background-color: #FF0025;
  text-shadow: 5px 4px 3px rgba(255, 0, 37, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  letter-spacing: 1px;
}

.o-btnLink-bg {
  display: flex;
  align-items: stretch;
  margin: 1.5rem auto;
  width: 90%;
}
.o-btnLink-bg .btnLinkBox-bg {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  min-height: 8rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  background: #F9F9F9;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.o-btnLink-bg .btnLinkBox-bg:hover {
  background: #E6F0FF;
  transform: translate(0px, -2px);
  box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.2);
}
.o-btnLink-bg .btnLinkBox-bg .btnLinkImageWrapper-bg {
  width: 33.333%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
.o-btnLink-bg .btnLinkBox-bg .btnLinkContentWrapper-bg {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.o-btnLink-bg .btnLinkBox-bg .btnLinkContentWrapper-bg .btnLinkHeader-bg {
  display: flex;
  align-items: center;
  gap: 8px;
}
.o-btnLink-bg .btnLinkBox-bg .btnLinkContentWrapper-bg .btnLinkHeader-bg .btnLinkIcon-bg {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
}
.o-btnLink-bg .btnLinkBox-bg .btnLinkContentWrapper-bg .btnLinkHeader-bg .btnLinkTitle-bg {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #263959;
  font-weight: 600;
}
.o-btnLink-bg .btnLinkBox-bg .btnLinkContentWrapper-bg .btnLinkTag-bg {
  font-size: 1.25rem;
  line-height: 0.5;
  font-variant: small-caps;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.o-btnLink-bg .btnLinkBox-bg .btnLinkContentWrapper-bg .btnLinkDescription-bg {
  font-size: 0.875rem;
  color: #000000;
  font-weight: 500;
  line-height: 1.4;
  -webkit-line-clamp: 3;
}

@media screen and (max-width: 450px) {
  .o-btnLink-bg {
    width: 95%;
    margin: 1rem auto;
  }
  .o-btnLink-bg .btnLinkBox-bg {
    min-height: auto;
    max-height: none;
    flex-direction: column-reverse;
  }
  .o-btnLink-bg .btnLinkBox-bg:hover {
    background: #F9F9F9;
    transform: none;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
  }
  .o-btnLink-bg .btnLinkBox-bg .btnLinkImageWrapper-bg {
    display: none;
  }
  .o-btnLink-bg .btnLinkBox-bg .btnLinkContentWrapper-bg {
    padding: 12px;
  }
  .o-btnLink-bg .btnLinkBox-bg .btnLinkContentWrapper-bg .btnLinkHeader-bg .btnLinkTitle-bg {
    font-size: 0.9rem;
    white-space: normal;
  }
  .o-btnLink-bg .btnLinkBox-bg .btnLinkContentWrapper-bg .btnLinkTag-bg {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .o-btnLink-bg .btnLinkBox-bg .btnLinkContentWrapper-bg .btnLinkDescription-bg {
    -webkit-line-clamp: 2;
    font-size: 0.8rem;
  }
}
/* Query  ----------------------------  */
/* */
/*  $sitewh: 1250px */
/*  $phones:  480px */
/*  $tablet:  810px */
/*  $screen:  995px */
@media only screen and (max-width: 78.125rem) {
  .o-post-index {
    width: 48%;
    max-width: 100%;
    margin: 0 0.9% 1.5%;
    flex-direction: column;
  }
  .o-post-index .post-thumbnail {
    width: 100%;
  }
  .o-post-index .post-content {
    width: 100%;
  }
  .o-post-index .post-content .post-title {
    margin: 0 0 5px;
  }
  .o-post-index .post-content .post-title a {
    font-size: 21px;
  }
}
.on {
  display: inline-block;
}

.off {
  display: none;
}

.l-siteFooter .o-copyright {
  display: none;
}

/* Small Devices, Screen & Tablets */
@media only screen and (max-width: 62rem) {
  .l-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
  }
  .l-sidebar .o-copyright, .l-sidebar .breack {
    display: none;
  }
  .l-sidebar footer {
    margin-bottom: 10px;
  }

  .o-about {
    max-width: 480px;
    margin: 10px auto auto;
  }
  .o-about img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 10px;
  }

  .l-content-box {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .o-separator .socialLink {
    margin: 0;
  }

  .l-siteFooter .o-copyright {
    display: block;
  }
  .l-siteFooter .breack {
    display: none;
  }

  form#frmNewsLetter #emailInput {
    width: 100%;
    padding: 0.59rem;
    font-size: 0.9em;
    line-height: 1;
  }
  form#frmNewsLetter #newsLetterBtn {
    width: 100px;
    padding: 0.5rem;
    font-size: 0.9em;
    line-height: 1;
    position: absolute;
    top: -34px;
    right: 0;
  }

  .on {
    display: none;
  }

  .off {
    display: inline-block;
  }

  .nofloat {
    float: none;
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .hide {
    display: none;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 30rem) {
  .l-content-box {
    padding: 10px;
  }

  .o-post-index {
    width: 98%;
    max-width: 100%;
    margin: 2%;
    flex-direction: column;
  }
  .o-post-index .post-thumbnail {
    width: 100%;
  }
  .o-post-index .post-content {
    width: 100%;
  }
  .o-post-index .post-content .post-title {
    margin: 0 0 5px;
  }
  .o-post-index .post-content .post-title a {
    font-size: 0.75rem;
    color: pink;
  }

  .sectionContact {
    height: 100%;
  }

  #notaContactBtn-item .notaContactBtn.newsBtn {
    position: absolute;
    right: 0;
    left: 0;
  }
}
/* Print  ----------------------------  */
@media print {
  @page {
    size: A4 portrait;
  }
  body {
    background-color: #FFFFFF;
  }
  body .l-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
  }
  body .l-sidebar footer {
    margin-bottom: 10px;
  }
  body .o-about {
    max-width: 480px;
    margin: 10px auto auto;
  }
  body .o-about img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 10px;
  }
  body .l-content-box {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
  body .contact-title, body .copyright, body .breack {
    display: none;
  }
  body .o-relatedPosts .c-relatedPost .post {
    max-width: 250px;
  }
  body .o-btnLink {
    /* */
  }
  body .o-btnLink .btnLinkBox {
    /* */
  }
  body .o-btnLink .btnLinkBox .btnLinkBoxContentWrapper {
    /* */
  }
  body .o-btnLink .btnLinkBox .btnLinkBoxContentWrapper .btnLinkBoxIconWrapper {
    /* */
  }
  body .o-btnLink .btnLinkBox .btnLinkBoxContentWrapper .btnLinkBoxIconWrapper .btnLinkBoxIcon {
    /* */
  }
  body .o-btnLink .btnLinkBox .btnLinkBoxContentWrapper .btnLinkBoxIconWrapper .btnLinkBoxText {
    /* */
  }
  body .o-btnLink .btnLinkBox .btnLinkBoxContentWrapper .btnLinkBoxTag {
    /* */
  }
  body .o-btnLink .btnLinkBox .btnLinkBoxContentWrapper .btnLinkBoxDescription {
    max-width: 400px !important;
  }
  body .o-btnLink .btnLinkBox .btnLinkBoxImage {
    max-width: 200px !important;
  }

  .doNotPrint {
    display: none !important;
  }

  .pageBreakAfter {
    page-break-after: always !important;
  }

  .doNotPageBreakInside {
    page-break-inside: avoid !important;
  }
}
